

@media (min-width:768px) and (max-width:991px) {
   
   .section-padding{
      padding-top: 120px;
      padding-bottom: 120px;
   }
   .banner-card{
      padding: .5em;
   }
   .banner-card .small-font{
      font-size: 14px !important;
   }
   .banner-card h1{
      line-height: 1.3;
      padding-bottom: 7px;
   
   }
   .banner-card p{
      padding-bottom: 7px;
   }
   
   .banner-img{
      padding: 15px;
      margin-left: 10px;
   }
   .banner-img img{
      transform: translate(5%, -40%);
      left: 0%;
      
   }    
   button{
      padding: 7px 14px;
      font-size: 16px;
   }
   /* ==ABOUT== */
   .about .container{
      padding: 20px;
   }
   .about-img img{
      height: 100%;
      width: 100%;
      object-fit: cover;
   }
   .about .left{
      height: 100%;
      width: 50%;
   }

   .about .right{
      height: 100%;
      width: 50%;
   }
   .about-card{
      padding: .5em;
   }
   .title{
      font-size: 2em;
      padding: 8px; 
   }
   .subtitle{
      padding: 8px;
      font-size: 16px;
   }
   /*=== MENU SECTION ===*/

   .menu h5{
      font-size: 18px;
   }
   .menu-name button{
      font-size: 1px;
      border-radius: 10px;
      padding: 5px 10px;
   }
   .menu span{
      color: #ffd;
   }

   .menu-name button{
   font-size: 13px;
   }


   .divider-up{
      top: -9%;
   }
   .divider-down{
      bottom: -9%;
   }
   .divider-down, .divider-up img{
      width: 100%;
   }
   /* === CONTACT SECTION ===*/
   /* .gallery{
      background-position: left, right;
      background-size: 50% 100%, 50% 100%;
   } */
   .gallery .contact{
      margin-left: 50px;
   }

}
@media (min-width:200px) and (max-width:767px) {
   
   .section-padding{
      padding-top: 100px;
      padding-bottom: 100px;
   }
   .navbar .nav-link{
      text-align: center;
      font-size: 20px !important;
      margin-bottom: 5px;
   }
   .navbar .nav-link:hover{
      transform: scale(1.05);
   }
   .hero{
      height: 100vh;
      background: url(../../images/bg\ mobile.svg) no-repeat;
      background-size: cover;
      background-position: center;
   }
   .hero::after{
      content: '';
      position: absolute;
      bottom: -25%;
      left: 0;
      background-color: #ffd700;
      height: 25%;
      width: 100%;
      z-index: -1;
   }
   .about{
      margin-top: 30vh;
   }
   
   .banner .left{
      width: 100%;
   }
   .banner-card{
      padding: .5em;
   }
   .banner-card .span{
      font-size: 14px !important;
   }
   .banner-card .title{
      font-size: 1.8em;
      letter-spacing: 1.2px;
   
   }
   .banner-card p{
      font-size: .8em !important;
      padding-bottom: 5px;
   }
   .banner-img{
      width: 100%;
      position: relative;
      padding: 10px;
      margin-left: 10px;
      height: 100%;
   }
   .banner-img img{
      left: 0%;
      transform:  scale(0.9) translate(0%, 0%);
      
   }
   /* ===     ABOUT    ===*/
   .about .container{
      padding: 20px;
      margin-left: 20px;
   }
   
   /* === MENU SECTION ===*/
   .divider-up{
      top: -3%;
   }
   .divider-down{
      bottom: -3%;
   }
   .divider-down, .divider-up img{
      width: 100%;
   }
   /* === CONTACT SECTION ===*/
   /* .gallery{
      background-position: left top, left bottom;
      background-repeat: no-repeat;
      background-size: 100% 50%, 100% 50%;
      background-attachment: fixed;
   } */

}